table, th, td {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid;
    border-left: 1px solid;
    border-collapse: collapse;
}

span {
    display: inline-block;
}

.logo {
    height: 5vmin;
}
